h4{
    margin-top: 7rem;
    margin-left: 30px;   
}

.div_body{
    margin-top: 3rem;
    


    .div_body1{
        margin-left: 1rem;
    }
    .div_body2{
        margin-top: -30rem;
        margin-left: 63rem; 
        margin-bottom: 50px;
       

       ul{ 
            margin-left: 63px;
            li{
                list-style: none;
                margin-bottom: 30px;
            }
       } 
       h3{
           margin: 10px;
           padding: 5px;
           border-top: 1px solid #a7a4a4;
           border-bottom: 1px solid #a7a4a4;
           color: #222;
           text-align: center;
       }
    }
}